training-american-ws/target/classes/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

	<!-- Global Elements : can be used anywhere -->
	<db:mysql-config name="MySQL_Configuration" 
		    doc:name="MySQL Configuration" database="${db.database}" host="${db.host}" password="${db.password}" port="${db.port}" user="${db.user}"/>
    <context:property-placeholder location="app-${myenv}.properties"/>
	<flow name="getFlightsByID">
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from american where ID = #[message.inboundProperties.'http.uri.params'.ID]]]></db:parameterized-query>
		</db:select>
		<dw:transform-message doc:name="Transform Message"
			metadata:id="e03c6161-0e99-436d-9b85-4c38db5a0bb8">
			<dw:set-payload resource="classpath:transform_american.dwl" />
		</dw:transform-message>
	</flow>

	<flow name="getFlightsFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from american where toAirport = #[message.inboundProperties.'http.query.params'.destination]]]></db:parameterized-query>
			<!-- Local element : will be local to the flow inside its declared -->
		</db:select>
		<dw:transform-message doc:name="Transform Message"
			metadata:id="0bb8bc88-f240-4a89-a7b0-e7d7965a05a3">
			<dw:set-payload resource="classpath:transform_american.dwl" />
		</dw:transform-message>
	</flow>


	<flow name="postFlightsFlow">
		<set-payload value="{
    &quot;message&quot;: &quot;Flight added&quot;
}"
			mimeType="application/json" doc:name="Set Payload" />
	</flow>
	<flow name="deleteFlightsByIDFlow">
		<set-payload value="{
    &quot;message&quot;: &quot;Flight deleted&quot;
}"
			mimeType="application/json" doc:name="Set Payload" />
	</flow>
	<flow name="putFlightsByIDFlow">
		<set-payload value="{
    &quot;message&quot;: &quot;Flight updated&quot;
}"
			mimeType="application/json" doc:name="Set Payload" />
	</flow>

</mule>
